$body-color: #212b36;

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
  height: 100%;
}

body {
  color: $body-color;
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

@keyframes logo-animation {
  0% { opacity: 1; }

  50% {
    opacity: 0.5;
    transform: scale(0.9) translateZ(0);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateZ(0);
  }
}

@keyframes outer-animation {
  0% {
    transform: scale(1.2) rotate(0deg) translateZ(0);
    opacity: 0.25;
    border-radius: 25%;
  }

  25% {
    transform: scale(1.2) rotate(270deg) translateZ(0);
    opacity: 0.25;
    border-radius: 25%;
  }

  50% {
    transform: scale(1) rotate(270deg) translateZ(0);
    opacity: 0.25;
    border-radius: 50%;
  }

  75% {
    transform: scale(1) rotate(270deg) translateZ(0);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: scale(1.2) rotate(0deg) translateZ(0);
    opacity: 0.25;
    border-radius: 25%;
  }
}

@keyframes inner-animation {
  0% {
    transform: scale(1) rotate(0deg) translateZ(0);
    opacity: 1;
    border-radius: 25%;
  }

  25% {
    transform: scale(1) rotate(-270deg) translateZ(0);
    opacity: 1;
    border-radius: 25%;
  }

  50% {
    transform: scale(1) rotate(-270deg) translateZ(0);
    opacity: 1;
    border-radius: 50%;
  }

  75% {
    transform: scale(1.2) rotate(270deg) translateZ(0);
    opacity: 1;
    border-radius: 50%;
  }

  100% {
    transform: scale(1) rotate(0deg) translateZ(0);
    opacity: 1;
    border-radius: 25%;
  }
}

.mui-poc-app {
  height: 100%;
}

.mui-loading {
  right: 0;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  .logo-box {
    width: 64px;
    height: 64px;
    cursor: pointer;
    animation: logo-animation 4s infinite;
  }

  .inner-border {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    position: absolute;
    border: solid 3px #007b553d;
    animation: inner-animation 4s infinite;
  }

  .outer-border {
    width: 120px;
    height: 120px;
    border-radius: 25%;
    position: absolute;
    border: solid 8px #007b553d;
    animation: outer-animation 4s infinite;
  }
}

.mui-container {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 600px) {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
  }
}

h4 {
  margin: 0 0 40;
  font-weight: 700;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: "Public Sans", sans-serif;

  @media (min-width: 1200) {
    font-size: 1.5rem;
  }
}

.mui-title {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  border: 0;
  margin: 0 0 24px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  min-width: 0;
  box-sizing: border-box;
  text-align: left;
  padding: 8px 12px 8px 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: relative;
  text-transform: capitalize;
  color: #00ab55;
  border-radius: 8px;
  height: 48px;
  background-color: #00ab5514;

  .mui-listitem-icon {
    flex-shrink: 0;
    color: inherit;
    min-width: auto;
    margin-right: 16px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    .mui-icon {
      width: 100%;
      height: 100%;
      display: inline-block;
      background-color: currentColor;
      mask: url("../images//icons/ic_analytics.svg") center center / contain no-repeat;
    }
  }

  .mui-listitem-text {
    flex: 1 1 auto;
    min-width: 0;
    margin-top: 0;
    margin-bottom: 0;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    .mui-subtitle {
      margin: 0;
      font-weight: 700;
      line-height: 1.5;
      font-size: 1.25rem;
      font-family: "Public Sans", sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }
}

.mui-grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;

  .mui-grid-item {
    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding-left: 24px;
    padding-top: 24px;

    &.mui-grid-md-4 {
      @media (min-width: 1200px) {
        flex-basis: 33.3333%;
        flex-grow: 0;
        max-width: 33.3333%;
      }
    }

    &.mui-grid-md-8 {
      @media (min-width: 1200px) {
        flex-basis: 66.6667%;
        flex-grow: 0;
        max-width: 66.6667%;
      }
    }

    &.mui-grid-md-12 {
      @media (min-width: 1200px) {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 100%;
      }
    }
  }
}

.mui-card {
  color: #212b36;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  z-index: 0;
  box-shadow: none;
  text-align: center;
  background-color: #c8facd;

  &.white {
    background-color: #fff;
    box-shadow: #919eab33 0 0 2px 0, #919eab1f 0 12px 24px -4px;
    display: flex;
    align-items: center;
    padding: 24px;
    height: auto;
  }

  @media (min-width: 900px) {
    height: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
  }

  .mui-card-content {
    padding: 24px;
    color: #212b36;

    @media (min-width: 900px) {
      padding: 0 0 0 40px;
    }

    .mui-typography-title {
      margin: 0 0 8px;
      font-weight: 700;
      line-height: 1.5;
      font-size: 1.5rem;
      font-family: "Public Sans", sans-serif;
      white-space: pre-line;
    }

    .mui-typography-body {
      margin: 0 auto;
      line-height: 1.5714;
      font-size: 0.875rem;
      font-family: "Public Sans", sans-serif;
      font-weight: 400;
      max-width: 480px;
      padding-bottom: 24px;
    }

    .mui-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      outline: 0;
      border: 0;
      margin: 0;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      appearance: none;
      text-decoration: none;
      font-weight: 700;
      line-height: 1.7143;
      font-size: 0.875rem;
      text-transform: capitalize;
      font-family: "Public Sans", sans-serif;
      min-width: 64px;
      padding: 6px 16px;
      border-radius: 8px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: #fff;
      background-color: #00ab55;
      box-shadow: #00ab553d 0 8px 16px 0;
    }
  }

  .mui-box {
    padding: 24px;
    width: 312px;

    .mui-typography-subtitle {
      margin: 0;
      font-weight: 600;
      line-height: 1.5714;
      font-size: 0.875rem;
      font-family: "Public Sans", sans-serif;
    }

    .mui-typography-h3 {
      margin: 0;
      font-weight: 700;
      line-height: 1.5;
      font-size: 2rem;
      font-family: "Public Sans", sans-serif;
    }

    .mui-compare {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 8px;

      .mui-icon {
        width: 24px;
        height: 24px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        &.green {
          color: #54d62c;
          background-color: #54d62c29;
        }

        &.red {
          color: #ff4842;
          background-color: #ff484229;
        }
      }

      .mui-typography-subtitle {
        margin: 0 0 0 8px;
      }
    }
  }
}
